<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Grid Parallel Suite" parallel="methods" thread-count="3">
    <test name="Chrome tests">
        <groups>
            <run>
                <include name="grid"/>
            </run>
        </groups>

        <classes>
            <class name="сom.ui.FirstTest">
            </class>
        </classes>
    </test>
</suite>


